Flask~=2.2.5
pendulum~=2.1.2
pyserial~=3.5
python-socketio~=5.5.2
python-engineio~=4.3.1
appdirs~=1.4.4

bleak~=0.21.1
pycryptodome~=3.20.0
git+https://github.com/pybluez/pybluez.git#egg=pybluez

pywebview~=3.7.0
pythonnet~=3.0.3

# don't forget pip install -U pyinstaller on upgrade
# and also update requirements_headless.txt if applicable
