Flask~=2.0.1
pendulum~=2.1.2
pyserial~=3.5
python-socketio~=5.5.2
python-engineio~=4.3.1
appdirs~=1.4.4

bleak~=0.12.1
pycryptodome~=3.9.0

pywebview~=3.5
cefpython3==66.0

# don't forget pip install -U pyinstaller on upgrade
