{% extends "layout.html" %}
{% block content %}
    <form class="form-inline" method="get">
        <div class="form-group">
            <label for="name">Session name</label>
            <select class="form-control" name="name">
                <option value=""{% if selected == "" %} selected{% endif %}>current</option>
                {% for name in names %}
                    <option value="{{ name }}"{% if selected == name %} selected{% endif %}>{{ name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-default">Select</button>
    </form>

    {% if item %}
        <div class="data last-measurement" id="current">
            <h3>Current value</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Voltage</th>
                        <th>Current</th>
                        <th>Power</th>
                        <th>Temperature</th>
                        <th>Data +/-</th>
                        <th>Mode</th>
                        <th>Accumulated</th>
                        <th>Resistance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ format.time(item) }}</td>
                        <td>{{ format.voltage(item) }}</td>
                        <td>{{ format.current(item) }}</td>
                        <td>{{ format.power(item) }}</td>
                        <td>{{ format.temperature(item) }}</td>
                        <td>{{ format.data(item) }}</td>
                        <td>{{ format.mode(item) }}</td>
                        <td>{{ format.accumulated(item) }}</td>
                        <td>{{ format.resistance(item) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endif %}

    <div class="graph-data">
        <form class="form-inline" id="graph-settings">
            <div class="form-group">
                <label for="name">Left axis</label>
                <select class="form-control" name="left_axis">
                    <option value="voltage" selected>Voltage (V)</option>
                    <option value="current">Current (A)</option>
                    <option value="power">Power (W)</option>
                    <option value="temperature">Temperature (°C)</option>
                    <option value="accumulated_current">Accumulated current (mAh)</option>
                    <option value="accumulated_power">Accumulated power (mWh)</option>
                    <option value="resistance">Resistance (Ω)</option>
                </select>
            </div>
            <div class="form-group">
                <label for="name">Right axis</label>
                <select class="form-control" name="right_axis">
                    <option value="voltage">Voltage (V)</option>
                    <option value="current" selected>Current (A)</option>
                    <option value="power">Power (W)</option>
                    <option value="temperature">Temperature (°C)</option>
                    <option value="accumulated_current">Accumulated current (mAh)</option>
                    <option value="accumulated_power">Accumulated power (mWh)</option>
                    <option value="resistance">Resistance (Ω)</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default">Apply</button>
        </form>

        <div class="graph">
            <div class="loading">Loading... Please wait...</div>
            <div data-url="{{ url_for("index.graph_data") }}" id="graph"></div>
        </div>
    </div>
{% endblock %}
