<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>RD-USB {{ rd_user_version }}</title>

    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon" />
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
</head>
<body>
    <div class="navbar-placeholder"></div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="top clearfix">
                <div class="navbar-header">
                    <a href="{{ url_for('index.default') }}" class="navbar-brand">RD-USB</a>
                </div>
                <div class="right">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="" class="toggle toggle-navigation">
                                <span class="glyphicon glyphicon-menu-hamburger"></span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="toggle toggle-form">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="nav navbar-nav">
                <li{% if page == "default" %} class="active"{% endif %}>
                    <a href="{{ url_for('index.default') }}" >Log</a>
                </li>
                <li{% if page == "data" %} class="active"{% endif %}>
                    <a href="{{ url_for('index.data') }}">Data</a>
                </li>
                <li{% if page == "graph" %} class="active"{% endif %}>
                    <a href="{{ url_for('index.graph') }}">Graph</a>
                </li>
            </ul>
            <form class="navbar-form navbar-right setup" id="connect">
                <div class="form-group" id="status">{{ status }}</div>
                <div class="form-group">
                    <select class="form-control" name="version" {% if connect_disabled %}disabled {% endif %}>
                        <option value="UM34C"{% if version == "UM34C" %} selected{% endif %}>UM34C</option>
                        <option value="UM25C"{% if version == "UM25C" %} selected{% endif %}>UM25C</option>
                        <option value="UM24C"{% if version == "UM24C" %} selected{% endif %}>UM24C</option>
                        <option value="TC66C"{% if version == "TC66C" %} selected{% endif %}>TC66C</option>
                        <option value="TC66C-USB"{% if version == "TC66C-USB" %} selected{% endif %}>TC66C USB</option>
                    </select>
                </div>
                {% set tc_ble = version and version.startswith("TC") and not version.endswith("USB") %}
                <div class="form-group" data-serial{% if tc_ble %} style="display:none"{% endif %}>
                    <a href="{{ url_for("index.serial") }}" class="setup-link">
                        {% if port %}
                            {{ port }}
                        {% else %}
                            Setup
                        {% endif %}
                    </a>
                    <input type="hidden" name="port" value="{{ port }}" {% if connect_disabled %}disabled {% endif %}/>
                </div>
                <div class="form-group" data-ble{% if not tc_ble %} style="display:none"{% endif %}>
                    <a href="{{ url_for("index.ble") }}" class="setup-link">
                        {% if ble_address %}
                            {{ ble_address }}
                        {% else %}
                            Setup
                        {% endif %}
                    </a>
                </div>
                <div class="form-group">Session</div>
                <div class="form-group">
                    <input type="text" class="form-control" name="name"
                           value="{{ name }}" {% if connect_disabled %}disabled {% endif %}/>
                </div>
                <div class="form-group">Rate</div>
                <div class="form-group">
                    <select class="form-control" name="rate" {% if connect_disabled %}disabled {% endif %}>
                        <option value="0.1"{% if rate == "0.1" %} selected{% endif %}>100ms</option>
                        <option value="0.5"{% if rate == "0.25" %} selected{% endif %}>250ms</option>
                        <option value="0.5"{% if rate == "0.5" %} selected{% endif %}>500ms</option>
                        <option value="1"{% if rate == "1.0" %} selected{% endif %}>1s</option>
                        <option value="5"{% if rate == "5.0" %} selected{% endif %}>5s</option>
                        <option value="10"{% if rate == "10.0" %} selected{% endif %}>10s</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-default">{{ connect_button }}</button>
            </form>
        </div>
    </nav>

    <div class="container content">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alerts">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>

    <script src="{{ url_for('static', filename='amcharts4/core.js') }}"></script>
    <script src="{{ url_for('static', filename='amcharts4/charts.js') }}"></script>

    <script src="{{ url_for('static', filename='js/application.js') }}"></script>
</body>
</html>
